target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

#Py cache

*.pyc
__pycache__/

/Agent_Impl/*.pyc
/Agent_Impl/__pycache__/


#####
.gemini
/GEMINI.md
/Testbed/deployment/docker-compose/postgres-data
/Testbed/deployment/docker-compose/postgres-data/**
/Agent/.env

/Agent_Impl/myVenv
/Agent_Impl/.env
/Agent_Impl/smoke_test_results
